{% extends "bootstrap/base.html" %}

{% block title %}Blog{% endblock %}

{% block head %}
{{ super() }}
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="{{ url_for("static", filename='style.css') }}">
{% endblock %}

{% block navbar %}
{% set navigation_bar = [
    ('/life', 'life', 'Life'),
    ('/tech', 'tech', 'Tech'),
    ('http://pydoc.hezj.xyz', 'pydoc', 'PyDoc')
] -%}
{% set active_page = active_page|default('index') -%}
<div class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('main.index') }}">Home</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                {% for href, id, caption in navigation_bar %}
                  <li{% if id == active_page %} class="active" {% endif %}>
                  <a href="{{ href|e }}">{{ caption|e }}
                  </a></li>
                {% endfor %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_authenticated() %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        Account <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url_for('auth.logout')+"?next="+request.path }}">Log Out</a></li>
                    </ul>
                </li>
                {% else %}
                <li><a href="{{ url_for('auth.login')+"?next="+request.path }}">Log In</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}
    <div class="page-with-sidebar">
        <div class="page-content-head">
            {% block page_content_head %}{% endblock %}
        </div>

        <div class="page-region col-md-9">
            {% block page_content %}{% endblock %}
        </div>
    {% include "sidebar.html" %}
    </div>
</div>
{% endblock %}

{% block scripts %}
    <script src="http://libs.baidu.com/jquery/2.0.3/jquery.min.js"></script>
    <script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ url_for("static", filename='get.js') }}"></script>
    {{ moment.include_moment() }}
    {{ moment.lang('zh-cn') }}
{% endblock %}
