{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Blog{% endblock %}

{% block page_content %}
<div class="page-header">
    {% if current_user.is_authenticated() %}
    <h1>所思何物，所忆何人？</h1>
    {% else %}
    <h1>给时光以生命</h1>
    {% endif %}
</div>

{% with preview=True %}
    {% include '_posts.html' %}
{% endwith %}

{% if current_user.is_authenticated() %}
    {% with wtf = wtf  %}
        {% include '_edit.html' %}
    {% endwith %}

{% endif %}
{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}
