{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Blog{% endblock %}

{% block page_content %}
<div class="page-header">
    {% if current_user.is_authenticated() %}
    <h1>所思何物，所忆何人？</h1>
    {% else %}
    <h1>给时光以生命</h1>
    {% endif %}
</div>

{% include '_posts.html' %}


{% if current_user.is_authenticated() %}
    <form class="form form-horizontal" method="post" role="form">
        {{ form.hidden_tag() }}
        {{ wtf.form_errors(form, hiddens="only") }}
        {{ wtf.form_field(form.title, placeholder='所思何物，所忆何人？') }}
        {{ wtf.form_field(form.body, rows=10) }}
        {{ wtf.form_field(form.tol) }}
        {{ wtf.form_field(form.submit) }}
    </form>


{% endif %}
{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}
